{% extends "app/base.html" %}

{% block content %}
{% load static %}

<style>
 .dissapear{
   display:none;
 }
 .appear{
   display:block;
 }
</style>
<div id="content" class="container shadow p-3 border rounded bg-light">
      <div class="col-md-auto col-lg-5 p-3">
        <img id="img" src="{{ plate.plate_img.url }}" class="img-fluid"/>
      </div>
      <div class="">
        <div class="fs-4 mb-3 fst-italic">The extracted text is:</div>
        <hr>
        <textarea id="text" class="form-control mb-3" rows="10"></textarea>
        <input id="play" type="button" value="Read" class="btn btn-primary mx-3"></input>
        <input id="clipboard" type="button" value="Copy to clipboard" class="btn btn-primary mx-3"></input>
      </div>
</div>
    


<div id="loader" class="d-flex position-absolute top-50 start-50 translate-middle text-light">
    <span id="temp" class="fs-2 fw-bolder animate__animated animate__zoomIn animate__infinite">Recognizing Text...</span>
</div>

<script>

  var content=document.getElementById("content")
  console.log(content)
  content.classList.add("dissapear");
  var temp=document.getElementById("temp")
  var display_text=document.getElementById("text")
  var play=document.getElementById("play")
  var clipboard=document.getElementById("clipboard")
  var a;
  var text="";
  var resp;
  console.log(temp)

  function makevisible() {
    content.classList.remove("dissapear");
    temp.classList.add("dissapear")
    console.log("made visible");
  }

   fetch('/app/identify/{{id}}')
  .then( response => {
    if (!response.ok) {
      throw new Error(`HTTP error: ${response.status}`);
    }
    return response.json();
  })
  .then( json => {
    console.log(json);
    makevisible();
    display_text.innerHTML=json;
  })
  .catch( error => {
    console.error(`Could not get products: ${error}`);
    makevisible();
    display_text.innerHTML="Can not recognize the text!!!";
  });

  {% comment %} function refresh(){
    img=document.getElementById("img");
    var temp=img.src;
    img.src=img.src+"?t="+ new Date();
    console.log("refreshed image");
  } {% endcomment %}


  function speak(){
    var msg = new SpeechSynthesisUtterance();
    msg.lang = "en-US";
    msg.text = display_text.innerHTML;
    msg.volume = 1;
    msg.rate = 1;
    msg.pitch = 1;   
    window.speechSynthesis.speak(msg);
  } 

  play.addEventListener("click",speak);
  clipboard.addEventListener("click",copy);

  {% comment %} function draw() {
    var canvas = document.getElementById('canvas');
    if (canvas.getContext) {
      var ctx = canvas.getContext('2d');
      var img = document.getElementById("img");
      width=img.naturalWidth
      height=img.naturalHeigth
      ctx.drawImage(img,0,0,width,height);
      ctx.strokeRect(470, 109, 50, 50);
    }
  }
  draw() {% endcomment %}

  async function copy(){
    var copyText = document.getElementById("text");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */
  
     /* Copy the text inside the text field */
    await navigator.clipboard.writeText(copyText.value)
    .then(()=>console.log(copyText));
  }
</script>

{% endblock %}
