{% extends "app/base.html" %}

{% block content %}
  <div class="shadow border rounded p-4 bg-light">
    <div class="fs-3">Search</div>
    <hr>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.non_field_errors }}
        <div class="row g-3">
          <div class="col-auto">
              {{ form.plate_number.errors }}
              {{ form.plate_number }}
              <label for="{{ form.plate_number.id_for_label }}">Enter the plate number:</label>
          </div>
          <div class="col-auto">
            <input  class="btn btn-primary" type="submit" value="Search">
          </div>
        </div>
      </table>
    </form>
<hr>
  {% if vehical %}
            <div>
                <div class="fs-3">{{ vehical.plate_number }}</div>
                    <hr>
                    <div class="table-responsive">
                    <table class="table table-sm">
                        <tbody>
                            <tr class="border rounded">
                            <td><strong>type:</strong></td>
                            <td>{{ vehical.type }}</td>
                            </tr>
                            <tr class="border rounded">
                            <td><strong>Model:</strong></td>
                            <td>{{ vehical.model }}</td>
                            </tr>
                            <tr class="border rounded">
                            <td><strong>Color:</strong></td>
                            <td>{{ vehical.color }}</td>
                            </tr>
                            <tr class="border rounded">
                            <td><strong>Date of Registration:</strong></td>
                            <td>{{ vehical.date_of_registration }}</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div class="fs-3">Owner Details:</div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <tbody>
                            <tr class="border rounded">
                                <td><strong>Name:</strong></td>
                                <td>{{ vehical.owner.name }}</td>
                            </tr>
                            <tr class="border rounded">
                                <td><strong>Education:</strong></td>
                                <td>{{ vehical.owner.education }}</td>
                            </tr>
                            <tr class="border rounded">
                                <td><strong>Email:</strong></td>
                                <td>{{ vehical.owner.email }}</td>
                            </tr>
                            <tr class="border rounded">
                                <td><strong>Address:</strong></td>
                                <td>{{ vehical.owner.address }}</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                {% if user.is_authenticated and user.is_staff %}
              <a  class="btn btn-primary" type="button" href="{% url 'fine' pnum=vehical.plate_number %}">Fine</a>
              {% endif %}
              {% if user.is_authenticated and not user.is_staff %}
              <a class="btn btn-primary" type="button" href="{% url 'complain' pnum=vehical.plate_number %}">Complain</a>
              {% endif %}
            </div>
  {% else %}
    <div class="f3 fw-bold">There is no vehical with this number</div>
  {% endif %}
 <div>
{% endblock %}
